@model RegisterViewModel
@{
    ViewData["Title"] = "ثبت نام";

}

<link rel="stylesheet" href="~/docs/lib/bootstrap/dist/css/bootstrap.min.css">
<link href="~/docs/lib/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet" />
<link href="~/docs/lib/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<!-- if RTL website code below delete comment and added dir="rtl" to html tag -->
<link rel="stylesheet" href="~/docs/lib/bootstrap/dist/css/bootstrap.min.rtl.css">
<link rel="stylesheet" href="~/docs/fonts/font-fa.css" />

<link rel="stylesheet" href="~/docs/css/styles.css" />

<script src="~/docs/lib/jquery-3.1.1/jquery-3.1.1.min.js"></script>
<script src="~/docs/lib/bootstrap/bootstrap.min.js"></script>

<link href="~/docs/lib/pe-icon-7-stroke/css/helper.css" rel="stylesheet" />
<link href="~/docs/lib/pe-icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet" />

<!-- sweetalert2 -->
<link rel="stylesheet" href="~/docs/lib/sweetAlert-2/sweetalert2.css" />
<script src="~/docs/lib/sweetAlert-2/sweetalert2.js"></script>

<link rel="stylesheet" href="~/docs/css/styleoverride.css" />

<div class="login">
    <div class="login__block">
        <div class="login__block__header">
            <div class="text-center">
                <i class="pe-7s-user pe-3x"></i>
            </div>
            <h6 class="text-center"> ثبت نام </h6>
        </div>
        <form asp-controller="Register" asp-action="Index">
            <partial name="_CustomValidationSummary" />
            <div class="form-group">
                <label asp-for="FirstName" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input dir="rtl" asp-for="FirstName" class="form-control col-md-4" />
                    @*<span asp-validation-for="FirstName" class="text-danger"></span>*@
                </div>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input dir="rtl" asp-for="LastName" class="form-control col-md-4" />
                    @*<span asp-validation-for="LastName" class="text-danger"></span>*@
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Username" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input dir="ltr" asp-for="Username" onblur="triggerRemoteValidation()" class="form-control col-md-4" />
                    @*<span asp-validation-for="Username" class="text-danger"></span>*@
                    <span class="optional-label">(جهت لاگین)</span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input dir="ltr" asp-for="Email" onblur="triggerRemoteValidation()" class="form-control col-md-4" />
                    @*<span asp-validation-for="Email" class="text-danger"></span>*@
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input dir="ltr" asp-for="Password" class="form-control col-md-4" />
                    @*<span asp-validation-for="Password" class="text-danger"></span>*@
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input dir="ltr" asp-for="ConfirmPassword" class="form-control col-md-4" />
                    @*<span asp-validation-for="ConfirmPassword" class="text-danger"></span>*@
                </div>
            </div>
            <div class="form-group">
                <label class="col col-md-2 control-label">
                    کد امنیتی
                </label>
                <dnt-captcha asp-captcha-generator-max="9000"
                             asp-captcha-generator-min="1"
                             asp-captcha-generator-language="Persian"
                             asp-placeholder="کپچا"
                             asp-validation-error-message="کد امنیتی را وارد کنید.."
                             asp-font-name="Tahoma"
                             asp-font-size="20"
                             asp-fore-color="#333333"
                             asp-back-color="#ccc"
                             asp-text-box-class="text-box single-line form-control col-md-4"
                             asp-text-box-template="<div class='input-group col-md-4'><span class='input-group-addon'><span class='glyphicon glyphicon-lock'></span></span>{0}</div>"
                             asp-validation-message-class="text-danger"
                             asp-refresh-button-class="glyphicon glyphicon-refresh btn-sm" />
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-info col-md-2">ثبت نام</button>
                </div>
            </div>
        </form>
    </div>
</div>



