@model RegisterViewModel
@{
    ViewData["Title"] = "ثبت نام";
    Layout = null;
}

<link rel="stylesheet" href="~/docs/lib/bootstrap/dist/css/bootstrap.min.css">
<link href="~/docs/lib/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet" />
<link href="~/docs/lib/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<!-- if RTL website code below delete comment and added dir="rtl" to html tag -->
<link rel="stylesheet" href="~/docs/lib/bootstrap/dist/css/bootstrap.min.rtl.css">
<link rel="stylesheet" href="~/docs/fonts/font-fa.css" />

<link rel="stylesheet" href="~/docs/css/styles.css" />

<script src="~/docs/lib/jquery-3.1.1/jquery-3.1.1.min.js"></script>
<script src="~/docs/lib/bootstrap/bootstrap.min.js"></script>

<link href="~/docs/lib/pe-icon-7-stroke/css/helper.css" rel="stylesheet" />
<link href="~/docs/lib/pe-icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet" />

<!-- sweetalert2 -->
<link rel="stylesheet" href="~/docs/lib/sweetAlert-2/sweetalert2.css" />
<script src="~/docs/lib/sweetAlert-2/sweetalert2.js"></script>

<link href="~/docs/css/styleoverride.css.css" rel="stylesheet" />


<div class="login">
    <div class="login__block">
        <div class="login__block__header">
            <div class="text-center">
                <i class="pe-7s-user pe-3x"></i>
            </div>
            <h6 class="text-center"> ثبت نام در  برنامه</h6>
        </div>
        <form asp-action="Register" asp-controller="Account" method="post">

            <div class="form-group">
                <input class="form-control" placeholder="نام " required type="text" asp-for="FirstName" />
                <i class="form-group__bar"></i>
            </div>
            <div class="form-group">
                <input class="form-control" placeholder="  نام خانوادگی" required type="text" asp-for="LastName" />
                <i class="form-group__bar"></i>
            </div>
            <div class="form-group">
                <input class="form-control" placeholder="ایمیل" required type="Email" asp-for="Email" />
                <i class="form-group__bar"></i>
            </div>
            <div class="form-group">
                <input class="form-control" required placeholder="شماره همراه" type="number" asp-for="Username" />
                <i class="form-group__bar"></i>
            </div>
            <div class="form-group">
                <input class="form-control" required placeholder="رمزعبور " type="password" asp-for="Password" />
                <i class="form-group__bar"></i>
            </div>
            <div class="form-group">
                <input class="form-control" placeholder="تکرار رمزعبور" required type="password" asp-for="ConfirmPassword" />
                <i class="form-group__bar"></i>
            </div>
            <div class="form-group">
                <label class="col col-md-2 control-label">
                    کد امنیتی
                </label>
                <dnt-captcha asp-captcha-generator-max="9000"
                             asp-captcha-generator-min="1"
                             asp-captcha-generator-language="Persian"
                             asp-placeholder="کپچا"
                             asp-validation-error-message="کد امنیتی را وارد کنید.."
                             asp-font-name="Tahoma"
                             asp-font-size="20"
                             asp-fore-color="#333333"
                             asp-back-color="#ccc"
                             asp-text-box-class="text-box single-line form-control col-md-4"
                             asp-text-box-template="<div class='input-group col-md-12'><span class='input-group-addon'><span class='glyphicon glyphicon-lock'></span></span>{0}</div>"
                             asp-validation-message-class="text-danger"
                             asp-refresh-button-class="glyphicon glyphicon-refresh btn-sm" />
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-dark">
                    <i class="pe-7s-right-arrow pe-2x"></i>
                </button>
            </div>
        </form>
    </div>
</div>
