<!doctype html>
<html class="no-js" dir="rtl" lang="fa">

<head>
    <meta charset="utf-8" />
    <meta name="robots" content="noindex, nofollow" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=11">

    <title>Super Admin</title>

    <link rel="stylesheet" href="~/docs/lib/font-awesome-4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/docs/lib/bootstrap/dist/css/bootstrap.min.css">

    <!-- if RTL website code below delete comment and added dir="rtl" to html tag -->
    <link rel="stylesheet" href="~/docs/lib/bootstrap/dist/css/bootstrap.min.rtl.css">
    <link rel="stylesheet" href="~/docs/fonts/font-fa.css" />

    <link href="~/docs/fonts/font-fa.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/docs/css/styles.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="~/docs/lib/bootstrap/bootstrap.min.js"></script>

    <link href="~/docs/lib/pe-icon-7-stroke/css/helper.css" rel="stylesheet" />
    <link href="~/docs/lib/pe-icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet" />

    <link href="~/docs/css/animate.css" rel="stylesheet" />

    <script src="~/docs/js/wow.min.js"></script>

    <link href="~/docs/lib/scrollbar/jquery.mCustomScrollbar.css" rel="stylesheet" />
    @RenderSection("style", false)

    <script src="~/docs/lib/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>

    <script src="~/docs/lib/amchart/amcharts/amcharts.js"></script>

    <script src="~/docs/lib/amchart/amcharts/serial.js"></script>

    <script src="~/docs/lib/amchart/amcharts/themes/dark.js"></script>

    <script src="~/docs/lib/amchart/amcharts/gauge.js"></script>

    <script src="~/docs/js/isotope.pkgd.min.js"></script>
    <script src="~/docs/js/jquery.bootstrap-modal-ajax-form.js"></script>
    <script src="~/docs/js/jquery.bootstrap-modal-alert.js"></script>
    <script src="~/docs/js/jquery.bootstrap-modal-confirm.js"></script>
    <!-- fancy box -->
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.6/jquery.fancybox.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.6/jquery.fancybox.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.6/jquery.fancybox.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.6/jquery.fancybox.min.js"></script>*@

    <!-- sweetalert2 -->
    <link rel="stylesheet" href="~/docs/lib/sweetAlert-2/sweetalert2.css" />
    <script src="~/docs/lib/sweetAlert-2/sweetalert2.js"></script>

    <!-- toaster -->
    <link rel="stylesheet" href="~/docs/lib/toaster/toastr.min.css">
    <script src="~/docs/lib/toaster/toastr.min.js"></script>
    <script src="~/js/site.js"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.6/jquery.fancybox.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.6/jquery.fancybox.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.6/jquery.fancybox.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.6/jquery.fancybox.min.js"></script>
    @RenderSection("scripts", false)

</head>

<body>

    <div class="wrapper">

        <header class="header">

            <div class="header__menu">
                <i class="pe-7s-menu pe-lg"></i>
            </div>

            <div class="header__title">
                سوپر پنل ادمین
            </div>



            <form class="header__form col-md-4">
                <div class="input-group">
                    <input id="email" type="text" class="form-control header__form__txt" name="email" placeholder="جستجو">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                </div>
            </form>

            <div class="header__notify">
                <a href="#" class="header__notify__item">
                    <i class="pe-7s-mail"></i>
                    <span class="badge header__notify__item__badge wow flash">5</span>
                </a>


                <a href="#" class="header__notify__item">
                    <i class="pe-7s-keypad"></i>
                </a>
                @{
                    if (User.Identity.IsAuthenticated)
                    {
                        <a asp-action="LogOff" asp-controller="LogIn" class="header__notify__item"> <i class="pe-7s-back"></i></a>

                    }
                }
            </div>

        </header>

        <aside class="sidebar">
            <div class="sidebar__user">
                <div class="sidebar__user__profile">
                    <img src="~/docs/images/user.jpg" class="sidebar__user__profile__img">
                    <div>
                        <div class="sidebar__user__profile__name">
                            مهدی حسنی
                        </div>
                        <div class="sidebar__user__profile__email">
                            09197572163
                        </div>
                    </div>
                </div>
            </div>

            <ul class="sidebar__navigation scroll-panel">
                <li class="sidebar__navigation__item">
                    <a asp-action="Index" asp-controller="ProductTypes" class="sidebar__navigation__item__link active">
                        <i class="pe-7s-home"></i>
                        مدیریت نوع محصولات
                    </a>
                </li>
                <li class="sidebar__navigation__item">
                    <a asp-action="Index" asp-controller="Products" class="sidebar__navigation__item__link ">
                        <i class="pe-7s-home"></i>
                        مدیریت محصولات
                    </a>
                </li>
                <li class="sidebar__navigation__item">
                    <a asp-action="Index" asp-controller="Slider" class="sidebar__navigation__item__link ">
                        <i class="pe-7s-home"></i>
                        مدیریت اسلایدر
                    </a>
                </li>
                <li class="sidebar__navigation__item">
                    <a asp-action="Index" asp-controller="Blogs" class="sidebar__navigation__item__link ">
                        <i class="pe-7s-home"></i>
                        مدیریت مقالات
                    </a>
                </li>
                <li class="sidebar__navigation__item">
                    <a href="#" class="sidebar__navigation__item__link ">
                        <i class="pe-7s-home"></i>
                        مدیریت ارتباط با ما
                    </a>
                </li>

                <li class="sidebar__navigation__item">
                    <a asp-action="Edit" asp-controller="Info" class="sidebar__navigation__item__link ">
                        <i class="pe-7s-home"></i>
                        مدیریت اطلاعات درباره ما
                    </a>
                </li>
                @*<li class="sidebar__navigation__item">
            <a href="#" class="sidebar__navigation__item__link ">
                <i class="pe-7s-home"></i>
                مدیریت کامنت ها
            </a>
        </li>*@
                <li class="sidebar__navigation__item">
                    <a asp-action="Index" asp-controller="RolesManager" class="sidebar__navigation__item__link ">
                        <i class="pe-7s-home"></i>
                        مدیریت نقش ها
                    </a>
                </li>
                <li class="sidebar__navigation__item">
                    <a asp-action="Index" asp-controller="UsersManager" class="sidebar__navigation__item__link  ">
                        <i class="pe-7s-home"></i>
                        مدیریت کاربران
                    </a>
                </li>
                @*<li class="sidebar__navigation__item">
            <a href="#" class="sidebar__navigation__item__link  ">
                <i class="pe-7s-home"></i>
                صفحه اصلی
            </a>
        </li>*@

                <li class="sidebar__navigation__item">
                    <a href="~/docs/form.html" target="_blank" class="sidebar__navigation__item__link">
                        <i class="pe-7s-server"></i>
                        فرم ها
                    </a>
                </li>

                <li class="sidebar__navigation__item">
                    <a href="~/docs/button.html" target="_blank" class="sidebar__navigation__item__link">
                        <i class="pe-7s-server"></i>
                        دکمه ها
                    </a>

                </li>

                <li class="sidebar__navigation__item">
                    <a href="~/docs/message.html" class="sidebar__navigation__item__link">
                        <i class="pe-7s-server"></i>
                        پیام های نمایشی
                    </a>
                </li>

                <li class="sidebar__navigation__item">
                    <a href="~/docs/imagesgallery.html" class="sidebar__navigation__item__link">
                        <i class="pe-7s-server"></i>
                        گالری عکس
                    </a>
                </li>

                <li class="sidebar__navigation__item">
                    <a href="~/docs/table.html" class="sidebar__navigation__item__link">
                        <i class="pe-7s-server"></i>
                        جداول
                    </a>
                </li>

                <li class="sidebar__navigation__item">
                    <a href="#" class="sidebar__navigation__item__link">
                        <i class="pe-7s-smile"></i>
                        دکمه ها
                    </a>

                    <ul class="sidebar__navigation sidebar__navigation-sub">
                        <li class="sidebar__navigation__item">
                            <a href="#" class="sidebar__navigation__item__link">
                                زیر منو ها
                            </a>
                        </li>

                        <li class="sidebar__navigation__item">
                            <a href="#" class="sidebar__navigation__item__link">
                                زیر منو ها
                            </a>
                        </li>

                    </ul>

                </li>

                <li class="sidebar__navigation__item">
                    <a href="#" class="sidebar__navigation__item__link">
                        <i class="pe-7s-target"></i>
                        جداول
                    </a>

                    <ul class="sidebar__navigation sidebar__navigation-sub">
                        <li class="sidebar__navigation__item">
                            <a href="#" class="sidebar__navigation__item__link">
                                زیر منو ها
                            </a>
                        </li>

                        <li class="sidebar__navigation__item">
                            <a href="#" class="sidebar__navigation__item__link">
                                زیر منو ها
                            </a>
                        </li>

                    </ul>

                </li>

                <li class="sidebar__navigation__item">
                    <a href="#" class="sidebar__navigation__item__link">
                        <i class="pe-7s-target"></i>
                        جداول
                    </a>

                    <ul class="sidebar__navigation sidebar__navigation-sub">
                        <li class="sidebar__navigation__item">
                            <a href="#" class="sidebar__navigation__item__link">
                                زیر منو ها
                            </a>
                        </li>

                        <li class="sidebar__navigation__item">
                            <a href="#" class="sidebar__navigation__item__link">
                                زیر منو ها
                            </a>
                        </li>

                    </ul>

                </li>

                <li class="sidebar__navigation__item">
                    <a href="#" class="sidebar__navigation__item__link">
                        <i class="pe-7s-target"></i>
                        جداول
                    </a>

                    <ul class="sidebar__navigation sidebar__navigation-sub">
                        <li class="sidebar__navigation__item">
                            <a href="#" class="sidebar__navigation__item__link">
                                زیر منو ها
                            </a>
                        </li>

                        <li class="sidebar__navigation__item">
                            <a href="#" class="sidebar__navigation__item__link">
                                زیر منو ها
                            </a>
                        </li>

                    </ul>

                </li>

                <li class="sidebar__navigation__item">
                    <a href="#" class="sidebar__navigation__item__link">
                        <i class="pe-7s-target"></i>
                        جداول
                    </a>

                    <ul class="sidebar__navigation sidebar__navigation-sub">
                        <li class="sidebar__navigation__item">
                            <a href="#" class="sidebar__navigation__item__link">
                                زیر منو ها
                            </a>
                        </li>

                        <li class="sidebar__navigation__item">
                            <a href="#" class="sidebar__navigation__item__link">
                                زیر منو ها
                            </a>
                        </li>

                    </ul>

                </li>

                <li class="sidebar__navigation__item">
                    <a href="#" class="sidebar__navigation__item__link">
                        <i class="pe-7s-target"></i>
                        جداول
                    </a>

                    <ul class="sidebar__navigation sidebar__navigation-sub">
                        <li class="sidebar__navigation__item">
                            <a href="#" class="sidebar__navigation__item__link">
                                زیر منو ها
                            </a>
                        </li>

                        <li class="sidebar__navigation__item">
                            <a href="#" class="sidebar__navigation__item__link">
                                زیر منو ها
                            </a>
                        </li>

                    </ul>

                </li>

                <li class="sidebar__navigation__item">
                    <a href="#" class="sidebar__navigation__item__link">
                        <i class="pe-7s-target"></i>
                        جداول
                    </a>

                    <ul class="sidebar__navigation sidebar__navigation-sub">
                        <li class="sidebar__navigation__item">
                            <a href="#" class="sidebar__navigation__item__link">
                                زیر منو ها
                            </a>
                        </li>

                        <li class="sidebar__navigation__item">
                            <a href="#" class="sidebar__navigation__item__link">
                                زیر منو ها
                            </a>
                        </li>

                    </ul>

                </li>

            </ul>

            <div id="chartdivClock"></div>


        </aside>

        <section class="content">
            <div class="content__inner">

                <div class="row">
                    @RenderBody()
                </div>



            </div>

        </section>
    </div>

    <script src="~/docs/js/script.js"></script>
</body>

</html>
@Html.Partial("~/Views/Shared/Partial/_SweatAlert.cshtml")

 