@using App.DomainModels.Dto.Product
@model ProductGalleryImageDTO
@{
    ViewData["Title"] = "افزودن تصویر جدید گالری محصولات";
}

@using (Html.BeginForm("Create", "ProductGalleryImage", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="container">

        <div class="row">
            <input asp-for="ProductId" value="@ViewBag.ProductId" type="hidden" />
            <div class="col-lg-2 col-xs-12 col-sm-4">
                <div class="form-group">
                    <input type="text" asp-for="Alt" class="form-control form-control-sm" placeholder="کپشن عکس">
                    <i class="form-group__bar"></i>
                </div>
            </div>
 
            <div class="col-md-6 col-xs-12 col-sm-4">
                <div class="col-lg-4 control-label">عکس محصول</div>
                <div class="col-lg-8">
                    <input type="file" name="Image" class="form-control form-control-sm" placeholder="عکس محصول ">

                </div>
            </div>

            <div class="form-group">
                <button type="submit" style="float:left" class="btn btn-lg btn-outline-success">ایجاد</button>
            </div>
        </div>
    </div>
}

