@using App.DomainModels.Dto.Product
@model ProductDTO
@using App.DomainModels.SSOT
@inject FileConfig fileConfig
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    List<ProductColorSummaryDTO> colors = ViewBag.colors;
}
<style>
</style>
<!-- Product Detail -->

<div class="container bgwhite p-t-35 p-b-80">
    <div class="flex-w flex-sb">

         <div class="w-size14 p-t-30 respon5" dir="rtl">
            <div style="text-align:right;font-weight:bold;font-size:22px" class="product-detail-name m-text16 p-b-13">
                نام محصول : <h3 style="color:#e65540;display:inline">
                    @Model.Name
                </h3>
            </div>

            <hr />
            @*<span class="m-text17">
            $22
        </span>*@
            <div>
                دسته بندی محصول :
                <h3 style="display:inline">
                    @Model.ProductType.Title
                </h3>
            </div>

            <hr />
            <h4>
                @Html.Raw(Model.ShortDescription)

            </h4>

            <hr />

            <!--  -->
            <div class="">

                @if (colors.Count > 0)
                {
                <div class="flex-m flex-w">
                    <div class="t-center">
                        تنوع رنگ :
                    </div>

                    @foreach (var item in colors)
                    {
                        <img class="colorImg" width="100" src="http://admin.marmarwax.com/image/Image/@(item.colorCode).png" alt="محصول واکس مرمر">
                    }

                </div>
                }

            </div>
            <hr />

            <!--  -->
            <h5 class="flex-sb-m cs-pointer m-text19 color0-hov trans-0-4" data-toggle="collapse" data-target="#demo">
                توضیحات
                <i class="up-mark fs-12 color1 fa fa-plus" aria-hidden="true"></i>
            </h5>

            <div class=" collapse" id="demo" style="margin-top:20px;">
                <p class="s-text8">
                    @Html.Raw(Model.Description)
                </p>
            </div>

        </div>

        <div class="w-size13 p-t-30 respon5">
            <div class="wrap-slick3 flex-sb flex-w">
                <div class="wrap-slick3-dots"></div>

                <div class="slick3">
                    @if (Model.ProductGalleryImages.Count > 0)
                    {
                        @foreach (var item in Model.ProductGalleryImages.OrderBy(p => p.Id))
                        {
                            <div class="item-slick3" data-thumb="http://admin.marmarwax.com/UploadFiles/@item.Image">
                                <div class="wrap-pic-w ">
                                    <img src="http://admin.marmarwax.com/UploadFiles/@item.Image" alt="محصول واکس مرمر">
                                </div>
                            </div>
                        }
                    }

                </div>

            </div>
        </div>

       
    </div>
</div>

