@using App.DomainModels.Dto.Product
@model ProductDTO
@using App.DomainModels.SSOT
@inject FileConfig fileConfig
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    List<ProductColorSummaryDTO> colors = ViewBag.colors;
}
<style>
</style>
<!-- Product Detail -->

<div class="container bgwhite p-t-35 p-b-80">
    <div class="flex-w flex-sb">

        <div class="w-size14 p-t-30 respon5 product-details" dir="rtl">
            <div class="product-detail-row product-name">
                <h3>
                    @Model.Name
                </h3>
            </div>
            @*<span class="m-text17">
                $22
                </span>*@
            <div class="product-detail-row">
                <div class="product-detail-label">
                    دسته بندی
                </div>
                <h4 class="product-detail-item">
                    @Model.ProductType.Title
                </h4>
            </div>
            <h4>
                @Html.Raw(Model.ShortDescription)

            </h4>
            <div class="">

                @if (colors.Count > 0)
                {

                    <div class="product-detail-row">
                        <div class="product-detail-label">
                            تنوع رنگ :
                        </div>

                        <div class="flex-m flex-w">
                            @foreach (var item in colors)
                            {
                                <img class="colorImg" width="100"
                            src="http://admin.marmarwax.com/image/Image/@(item.colorCode).png" alt="محصول واکس مرمر">
                            }

                        </div>
                    </div>
                }

            </div>
            <!--  -->
            <h5 class="flex-sb-m cs-pointer m-text19 color0-hov trans-0-4" data-toggle="collapse" data-target="#demo">
                توضیحات
                <i class="up-mark fs-12 color1 fa fa-plus" aria-hidden="true"></i>
            </h5>

            <div class=" collapse" id="demo" style="margin-top:20px;">
                <p class="s-text8">
                    @Html.Raw(Model.Description)
                </p>
            </div>

        </div>

        <div class="w-size13 p-t-30 respon5">
            <div class="wrap-slick3 flex-sb flex-w">
                <div class="wrap-slick3-dots"></div>

                <div class="slick3">
                    @if (Model.ProductGalleryImages.Count > 0)
                    {
                        @foreach (var item in Model.ProductGalleryImages.OrderBy(p => p.Id))
                        {
                            <div class="item-slick3" data-thumb="http://admin.marmarwax.com/UploadFiles/@item.Image">
                                <div class="wrap-pic-w ">
                                    <img src="http://admin.marmarwax.com/UploadFiles/@item.Image" alt="محصول واکس مرمر">
                                </div>
                            </div>
                        }
                    }

                </div>

            </div>
        </div>


    </div>
</div>
