@using App.DomainModels.Dto.Product
@model ProductDTO
@using Regate
@using App.Common.Toolkit
@{
    ViewData["Title"] = "افزودن محصول";
}

<form asp-action="Create" asp-controller="Products" method="post">

    <div class="container">

        <div class="row">

            <div class="col-md-3 col-xs-12 col-sm-4">
                <div class="form-group">
                    <input type="text" asp-for="Name" required class="form-control form-control-sm" placeholder="نام محصول ">
                    <i class="form-group__bar"></i>
                </div>
            </div>

            <div class="col-md-3 col-xs-12 col-sm-4">
                <div class="form-group">
                    <input type="text" asp-for="ProductTypeId" required class="form-control form-control-sm" placeholder="نوع محصول ">
                    <i class="form-group__bar"></i>
                </div>
            </div>

            <div class="col-md-3 col-xs-12 col-sm-4">
                <div class="form-group">
                    @*@Html.Raw(RegateImage.)*@
                    <input type="file" asp-for="Image" required class="form-control form-control-sm" placeholder="عکس اصلی محصول ">
                    <i class="form-group__bar"></i>
                </div>
            </div>


            <div class="col-md-12 col-xs-12 col-sm-4">
                <div class="form-group">
                    <textarea class="form-control form-control-lg" asp-for="Description" rows="8" placeholder="توضیحات را وارد کنید "></textarea>
                    <i class="form-group__bar"></i>
                </div>
            </div>


            <div class="col-md-12 col-xs-12 col-sm-4">
                <div class="form-group">
                    <textarea class="form-control form-control-lg" asp-for="ShortDescription" rows="8" placeholder="توضیحات مختصر را وارد کنید "></textarea>
                    <i class="form-group__bar"></i>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" style="float:left" class="btn btn-lg btn-outline-primary">ایجاد</button>
            </div>
        </div>
    </div>

</form>
