@using App.DomainModels.Dto.Product
@model ProductDTO
@using App.Common.Toolkit
@using App.DomainModels.SSOT
@inject FileConfig config
@Html.Raw(Styles.MakeLayoutBlank())
@{
    ViewData["Title"] = "ویرایش مصول";
}

@using (Html.BeginForm("Edit", "Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="Image" />
    <div class="container">

        <div class="row">

            <div class="col-lg-2 col-xs-12 col-sm-4">
                <div class="form-group">
                    <input type="text" asp-for="Name" required class="form-control form-control-sm" placeholder="نام محصول ">
                    <i class="form-group__bar"></i>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="form-element form-select">
                    @Html.DropDownList("ProductTypeId", (IEnumerable<SelectListItem>)ViewBag.ProductTypes, "نوع محصول را انتخاب کنید", new { @class = "form-control" })
                </div>
            </div>

            <div class="col-md-6 col-xs-12 col-sm-4">
                <div class="col-lg-4 control-label">عکس اصلی محصول</div>
                <div class="col-lg-8">
                    <input type="file" name="NewImage" value="@Model.Image" class="form-control form-control-sm" placeholder="عکس اصلی محصول ">

                </div>
            </div>


            <div class="col-md-12 col-xs-12 col-sm-4">
                <div class="form-group">
                    <textarea class="form-control form-control-lg" asp-for="Description" rows="8" placeholder="توضیحات را وارد کنید "></textarea>
                    <i class="form-group__bar"></i>
                </div>
            </div>


            <div class="col-md-12 col-xs-12 col-sm-4">
                <div class="form-group">
                    <textarea class="form-control form-control-lg" asp-for="ShortDescription" rows="8" placeholder="توضیحات مختصر را وارد کنید "></textarea>
                    <i class="form-group__bar"></i>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" style="float:left" class="btn btn-lg btn-outline-warning">ویرایش</button>
            </div>
        </div>
    </div>
}