<footer style="background-color:black;bottom:0px;height:250px;width:100%">
    <div class="diRelFooter" style="position:relative;display:inline-block;margin-left:38%">
        <img id="imgFooter1" width="400" style="position:absolute;display: block;margin-left: auto;margin-right: auto;" src="~/images/Footer/Footer_Map.png" />

        <img id="imgFooter2" width="200" style="position:absolute;left:110px;top:20px;display: block;margin-left: auto;margin-right: auto;" src="~/images/Footer/Footer_LOGO.png" />
    </div>
    
</footer>
