<footer style="background-color:#e65540;height:400px;margin-top:50px">


    <p style="font-size:120px;text-align:center;color:black">
        Mar Mar
    </p>
    <p style="font-size:30px;text-align:center;color:black">
        Shoe Care Product
    </p>
    <p style="font-size:30px;text-align:center;color:black">
        Since 1961
    </p>

</footer>
