

<footer style="background-color:#e65540;bottom:0px;width:100%">


    <p class="title" style="font-size:120px;text-align:center;color:black">
        Mar Mar
    </p>
    <p class="desc" style="font-size:30px;text-align:center;color:black">
        Shoe Care Product
    </p>
    <p class="desc"  style="font-size:30px;text-align:center;color:black">
        Since 1961
    </p>

</footer>
