<div class="wrap_menu">
    <nav class="menu">
        <ul class="main_menu" style="direction:rtl">
            <li>
                <a href="~/Home/Index">صفحه اصلی</a>
            </li>

            <li>
                <a href="~/product/Index">محصولات</a>
            </li>
             
            @*<li>
                <a href="~/Home/About">مقالات</a>
            </li>*@

            <li>
                <a href="~/Home/about">درباره ما</a>
            </li>

            <li>
                <a href="~/ContactUs/Index">ارتباط با ما</a>
            </li>
        </ul>
    </nav>
</div>
