@using App.DomainModels.Dto.Product
@using App.DomainModels.SSOT
@inject FileConfig fileConfig
@{
    List<ProductDTO> Products = ViewBag.ProductList;
}

<section class="banner bgwhite p-t-40 p-b-40">
    <h1 style="text-align:center;margin:50px;font-size:60px">محصولات واکس مرمر</h1>

    <div class="container">
        <div class="row">
            @foreach (var item in Products)
            {
                <div class="col-sm-7 col-md-7 col-xs-5 col-lg-4 m-l-r-auto">
                    <div class="block1 hov-img-zoom pos-relative m-b-30">
                        <a asp-action="ProductDetail" asp-controller="Product" asp-route-Id="@item.Id">
                            <img src="http://admin.marmarwax.com/UploadFiles/@item.Image" alt="محصول واکس مرمر">
                            @*<a asp-action="ProductDetail" asp-controller="Product" asp-route-Id="@item.Id" class="flex-c-m size2 m-text2 bg3 hov1 trans-0-4 text-center">
                                @item.Name
                            </a>*@
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
