@*<section class="slide1">
        <div class="wrap-slick1">
            <div class="slick1">
                <div class="item-slick1 item1-slick1" style="background-image: url(images/master-slide-02.jpg);">
                    <div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
                        <span class="caption1-slide1 m-text1 t-center animated visible-false m-b-15" data-appear="fadeInDown">
                            Women Collection 2018
                        </span>

                        <h2 class="caption2-slide1 xl-text1 t-center animated visible-false m-b-37" data-appear="fadeInUp">
                            New arrivals
                        </h2>

                        <div class="wrap-btn-slide1 w-size1 animated visible-false" data-appear="zoomIn">
                            <!-- Button -->
                            <a href="~/product.html" class="flex-c-m size2 bo-rad-23 s-text2 bgwhite hov1 trans-0-4">
                                Shop Now
                            </a>
                        </div>
                    </div>
                </div>

                <div class="item-slick1 item2-slick1" style="background-image: url(images/master-slide-03.jpg);">
                    <div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
                        <span class="caption1-slide1 m-text1 t-center animated visible-false m-b-15" data-appear="rollIn">
                            Women Collection 2018
                        </span>

                        <h2 class="caption2-slide1 xl-text1 t-center animated visible-false m-b-37" data-appear="lightSpeedIn">
                            New arrivals
                        </h2>

                        <div class="wrap-btn-slide1 w-size1 animated visible-false" data-appear="slideInUp">
                            <!-- Button -->
                            <a href="~/product.html" class="flex-c-m size2 bo-rad-23 s-text2 bgwhite hov1 trans-0-4">
                                Shop Now
                            </a>
                        </div>
                    </div>
                </div>

                <div class="item-slick1 item3-slick1" style="background-image: url(images/master-slide-04.jpg);">
                    <div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
                        <span class="caption1-slide1 m-text1 t-center animated visible-false m-b-15" data-appear="rotateInDownLeft">
                            Women Collection 2018
                        </span>

                        <h2 class="caption2-slide1 xl-text1 t-center animated visible-false m-b-37" data-appear="rotateInUpRight">
                            New arrivals
                        </h2>

                        <div class="wrap-btn-slide1 w-size1 animated visible-false" data-appear="rotateIn">
                            <!-- Button -->
                            <a href="~/product.html" class="flex-c-m size2 bo-rad-23 s-text2 bgwhite hov1 trans-0-4">
                                Shop Now
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>*@

 
<div class="row brand-heading">
    <div class="col col-lg-2 col-md-2 col-sm-2 col-xs-2 col-2 brand-heading__part"><span class="brand-heading__letter">M</span><img src="http://marmarwax.com/images/Slider/istock-615085330.jpg" alt="واکس مرمر" class="brand-heading__img" /></div>
    <div class="col col-lg-2 col-md-2 col-sm-2 col-xs-2 col-2 brand-heading__part"><span class="brand-heading__letter">A</span><img src="http://marmarwax.com/images/Slider/Best-Shoes-for-Foot-Pain.jpeg" alt="واکس مرمر" class="brand-heading__img" /></div>
    <div class="col col-lg-2 col-md-2 col-sm-2 col-xs-2 col-2 brand-heading__part"><span class="brand-heading__letter">R</span><img src="http://marmarwax.com/images/Slider/download.jpg" alt="واکس مرمر" class="brand-heading__img" /></div>
    <div class="col col-lg-2 col-md-2 col-sm-2 col-xs-2 col-2 brand-heading__part"><span class="brand-heading__letter">M</span><img src="http://marmarwax.com/images/Slider/images (1).jpg" alt="واکس مرمر" class="brand-heading__img" /></div>
    <div class="col col-lg-2 col-md-2 col-sm-2 col-xs-2 col-2 brand-heading__part"><span class="brand-heading__letter">A</span><img src="http://marmarwax.com/images/Slider/images.jpg" alt="واکس مرمر" class="brand-heading__img" /></div>
    <div class="col col-lg-2 col-md-2 col-sm-2 col-xs-2 col-2 brand-heading__part"><span class="brand-heading__letter">R</span><img src="http://marmarwax.com/images/Slider/Best-Shoes-for-Foot-Pain.jpeg" alt="واکس مرمر" class="brand-heading__img" /></div>
</div>

<div class="row brand-heading-sm">
    <div class="col col-lg-2 col-md-2 col-sm-2 col-xs-2 col-2 " style="display:inline; font-size: 32px ;text-align:center"><span>M</span></div>
    <div class="col col-lg-2 col-md-2 col-sm-2 col-xs-2 col-2 " style="display:inline; font-size: 32px ;text-align:center"><span>A</span></div>
    <div class="col col-lg-2 col-md-2 col-sm-2 col-xs-2 col-2 " style="display:inline; font-size: 32px ;text-align:center"><span>R</span></div>
    <div class="col col-lg-2 col-md-2 col-sm-2 col-xs-2 col-2 " style="display:inline; font-size: 32px ;text-align:center"><span>M</span></div>
    <div class="col col-lg-2 col-md-2 col-sm-2 col-xs-2 col-2 " style="display:inline; font-size: 32px ;text-align:center"><span>A</span></div>
    <div class="col col-lg-2 col-md-2 col-sm-2 col-xs-2 col-2 " style="display:inline; font-size: 32px ;text-align:center"><span>R</span></div>
</div>


