@{
    ViewData["Title"] = "واکس مرمر";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using App.DomainModels.Dto.Blogs
@{
    List<BlogsDTO> BlogList = ViewBag.BlogList;
}

<style>
    .fa {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
    }
    .h2 {
        font-family: 'iran', 'Raleway', sans-serif;
        color: #4e002d;
        margin-top: 20px;
        margin-bottom: 10px; 
    }
</style>

<!-- Slide1 -->
@Html.Partial("_Slider.cshtml")

<div class="col col-lg-12 col-md-12 col-sm-12 ptb-70 bg-3 brand" style="padding: 90px 0px;background-color:whitesmoke;border-top:solid 5px #ba0000">
    <div class="container subMenu"style="padding-left:0px;padding-right:0px">
        <div class="row"style="margin:0px">
            <div class="col-md-4 col-sm-12 col-xs-12 Ifull">
                <div class="quick-service-wrap clear">
                    <div style="float: right;">
                        <i style="font-size:70px;color: #ba0000;" class="fa fa-diamond "></i>
                    </div>
                    <div style="margin-right: 85px;text-align:right">
                        <strong style="font-weight:bold;font-size:25px">ضمانت محصول</strong>
                        <p>واکس مرمر دارای ضمانت محصول است</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12 Ifull">
                <div class="quick-service-wrap clear">
                    <div style="float: right;">
                        <i style="font-size: 70px;color: #ba0000;" class="fa fa-briefcase"></i>
                    </div>
                    <div style="margin-right: 85px;text-align:right">
                        <strong style="font-weight:bold;font-size:25px">مواد اولیه مرغوب</strong>
                        <p>واکس مرمر از مواد اولیه مرغوب تولید می شود </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12 Ifull">
                <div class="quick-service-wrap clear">
                    <div style="float: right;">
                        <i style="font-size: 70px;color: #ba0000;" class="fa fa-life-ring"></i>
                    </div>
                    <div style="margin-right: 85px;text-align:right">
                        <strong style="font-weight:bold;font-size:25px">کیفیت بالا</strong>
                        <p>واکس مرمر بسیار با کیفیت است</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner -->
@Html.Partial("_Banner.cshtml")

<!-- Blog -->
@if (BlogList.Count > 0)
{
    @Html.Partial("_Blog.cshtml")
}

